USE [master]
GO
/****** Object:  Database [Số liệu thống kê của xã Xuân Quang]    Script Date: 03/08/2025 11:35:56 ******/
CREATE DATABASE [Số liệu thống kê của xã Xuân Quang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Số liệu thống kê của xã Xuân Quang', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Số liệu thống kê của xã Xuân Quang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Số liệu thống kê của xã Xuân Quang_log', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Số liệu thống kê của xã Xuân Quang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Số liệu thống kê của xã Xuân Quang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Số liệu thống kê của xã Xuân Quang]
GO
/****** Object:  User [ad]    Script Date: 03/08/2025 11:35:57 ******/
CREATE USER [ad] FOR LOGIN [ad] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ad]
GO
/****** Object:  Table [dbo].[1. Chỉ số tổng quan của xã]    Script Date: 03/08/2025 11:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1. Chỉ số tổng quan của xã](
	[Dien_tich] [float] NOT NULL,
	[Dan_so] [int] NOT NULL,
	[Tong_so_dan_toc] [int] NOT NULL,
	[Ton_giao] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[1.1. Dân số của các dân tộc]    Script Date: 03/08/2025 11:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1.1. Dân số của các dân tộc](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[Ten_dan_toc] [nvarchar](255) NOT NULL,
	[So_luong] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[2. Kinh tế]    Script Date: 03/08/2025 11:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[2. Kinh tế](
	[So_ho_ngheo] [int] NOT NULL,
	[So_ho_can_ngheo] [int] NOT NULL,
	[Thu_nhap_binh_quan] [float] NOT NULL,
	[So_thon] [int] NOT NULL,
	[So_ho_kinh_doanh_nho_le] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[2.1. Thôn và HTX]    Script Date: 03/08/2025 11:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[2.1. Thôn và HTX](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[Ten_thon] [nvarchar](255) NOT NULL,
	[So_HTX] [int] NOT NULL,
	[Quy_mo] [nvarchar](255) NOT NULL,
	[Linh_vuc_hoat_dong] [nvarchar](255) NOT NULL,
	[Mo_hinh_kinh_te_hieu_qua] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[3. Y tế ]    Script Date: 03/08/2025 11:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[3. Y tế ](
	[So_tram_y_te] [int] NOT NULL,
	[So_phong_kham_tu_nhan] [int] NOT NULL,
	[So_luong_can_bo_y_te] [int] NOT NULL,
	[Ty_le_nguoi_dan_tham_gia_BHYT] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[4. Giáo Dục]    Script Date: 03/08/2025 11:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4. Giáo Dục](
	[Tong_so_truong_hoc] [int] NOT NULL,
	[Tong_so_hoc_sinh] [int] NOT NULL,
	[Truong_chuan_QG] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[4.1. Thông tin các trường học.]    Script Date: 03/08/2025 11:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4.1. Thông tin các trường học.](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[Ten_truong] [nvarchar](255) NOT NULL,
	[Cap_truong] [nvarchar](255) NOT NULL,
	[So_luong_hoc_sinh_cua_truong] [int] NOT NULL,
	[Dat_chuan_QG] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[5. Cơ sở hạ tầng]    Script Date: 03/08/2025 11:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[5. Cơ sở hạ tầng](
	[Duong_GTNT_duoc_cung_hoa] [float] NOT NULL,
	[Cho] [int] NOT NULL,
	[Buu_dien] [int] NOT NULL,
	[Nha_van_hoa] [int] NOT NULL,
	[Ngan_hang] [int] NOT NULL,
	[Ty_le_su_dung_dien_an_toan] [float] NOT NULL,
	[Ty_le_su_dung_nuoc_sach] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[6. Công nghệ số]    Script Date: 03/08/2025 11:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[6. Công nghệ số](
	[Dich_vu_cong_truc_tuyen] [nvarchar](50) NOT NULL,
	[Doi_cong_nghe_so_cong_dong] [int] NOT NULL,
	[Ty_le_ho_gia_dinh_co_dien_thoai_di_dong] [int] NOT NULL,
	[Ty_le_ho_gia_dinh_truy_cap_internet] [int] NOT NULL,
	[So_nguoi_biet_su_dung_cong_nghe_so] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
